<!-- <h1>{{ name }}</h1>
<h2>{{ age }}</h2>
<p>{{ data.email }}</p>
<p>{{ data.password }}</p>
<h3>{{ year }}</h3>
<p *ngIf="show">Exibir mensagem!</p>
<button (click)="showMessage()">Clique</button> -->

<div class="center">
  <div class="article-card">
    <div class="content">
      <p class="date">Jan 1, 2024</p>
      <p class="title">Egito Completo</p>
    </div>
    <img
      src="https://cdn.pixabay.com/photo/2016/11/19/14/38/camel-1839616_1280.jpg"
      alt="article-cover"
    />
  </div>
</div>
